*{
margin: 0;
padding: 0;
}
.main{
  background-color: #dae3ecbc;
}
.app{
  display: flex;
}

.game{
  margin-top: 3%;
  margin-left: 32%;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}

.game img{
  width: 70px;
  height: 70px;
}

.score{
  font-family: Arial, Helvetica, sans-serif;
/* color: white; */
  padding-top: 8px;
  padding-bottom: 6px;
  font-size: 15px;
  margin-top: 2.1%;
  margin-left: 32%;
  margin-right: 31%;
  text-align: center;
  background-color: rgb(86, 136, 210);
  border-radius: 12px;
}
.typ{
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  font-size: 20px;
  font-weight: bold;

}